extends ../layouts/layout

block title
  title Webpack Starter

block content
  //header
  include ../static/header

  //content
  include ../includes/index/content


  //footer
  include ../static/footer